<% content_for :title, "Editing worklog" %>

<h1>Editing worklog</h1>

<%= render "form", worklog: @worklog %>

<br>

<div>
  <%= link_to "Show this worklog", @worklog %> |
  <%= link_to "Back to worklogs", worklogs_path %>
</div>
