<% content_for :title, "New worklog" %>
<div class="form-card">
  <h1 class="text-3xl font-bold text-zinc-700 mb-6">New worklog</h1>

  <%= render "form", worklog: @worklog %>

  <br>

  <div>
    <%= link_to "Cancel", worklogs_path, class: "button-secondary" %>
  </div>
</div>