<%= form_with(model: submission, class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :note %>
    <%= form.textarea :note, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": submission.errors[:note].none?, "border-red-400 focus:outline-red-600": submission.errors[:note].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit "Reject", class: "button-danger" %>
  </div>
<% end %>
