<% content_for :title, "Editing project" %>

<div class="form-card">
  <h1  class="h1-style">Editing project</h1>
  <%= render "form", project: @project %>
  <div class="mt-4">
    <%= link_to "Show this project", @project, class: "button" %> |
    <%= back_button %>
  </div>
</div>
