<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1 class="text-3xl font-bold text-zinc-700 my-6 ml-6">Projects</h1>

<div id="projects"  class="form-card space-y-6">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "View project", project, class: "button-secondary" %>
    </p>
    <hr>
  <% end %>
  <div class="mt-6">
    <%= link_to "New project", new_project_path, class: "button-success" %>
  </div>
</div>



