<% content_for :title, "Projects" %>

<div id="projects"  class="form-card space-y-6">
  <h1 class="h1-style">Projects</h1>

  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "View project", project, class: "button-secondary" %>
    </p>
    <hr>
  <% end %>
  <div class="mt-6">
    <%= link_to "New project", new_project_path, class: "button-success" %>
  </div>
</div>



