<h1>We're nearing the end of the month!</h1>

<p>
    Don't forget to submit your worklogs for <%= Date.current.strftime('%B') %>
</p>
<p>
    Don't make a kitten cry 😿
</p>
<p>
  <%= link_to "Go to the worklogs >>", worklogs_url %>
</p>