<header>
    <nav class="sticky z-10 flex top-0 bg-gradient-to-r bg-orange-400">
        <ul class="flex items-center justify-end ml-auto mr-6">
            <li>
                <%= link_to "Home", root_path, class: "menu-item" %>
            </li>
            <li>
                <%= link_to "Worklogs", worklogs_path, class: "menu-item" %>
            </li>
            <li>
                <%= link_to "Projects", projects_path, class: "menu-item" %>
            </li>
            <li>
                <%= link_to "Users", users_path, class: "menu-item" %>
            </li>
        </ul>
    </nav>
</header>